

:root {
    --branco: white;
    --cor-de-fundo:rgb(22, 77, 180);
    --fundo-senha:rgb(143, 182, 233);
    --fundo-texto:rgb(136, 187, 228);
    --borda:rgb(111, 237, 253);
}

body{
    color:var(--branco);
    background-color: var(--cor-de-fundo);
}

.conteudo-titulo{
    text-align: center;
    margin-top: 80px;
}